body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.landing {
  background: #f9fafb;
  color: #111827;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-size: 22px;
}

/* BUTTONS */
.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.primary-btn:hover {
  background: #1d4ed8;
}

.outline-btn {
  background: transparent;
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 36px;
}

.hero-text p {
  margin: 15px 0;
  color: #6b7280;
}

/* MOCK BOX */
.mock-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

/* FEATURES */
.features {
  padding: 60px;
  text-align: center;
}

.feature-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  background: white;
  border-top: 1px solid #e5e7eb;
}